<div class="roles-grid">
  <div class="role-card" (click)="goToRegister('gomero')">
    <img src="assets/icons/gomero.png" alt="Gomero" />
    <p>Gomero</p>
  </div>

  <div class="role-card" (click)="goToRegister('chapero')">
    <img src="assets/icons/chapero.png" alt="Chapero" />
    <p>Chapero</p>
  </div>

  <div class="role-card" (click)="goToRegister('mecanico')">
    <img src="assets/icons/mecanico.png" alt="Mecánico" />
    <p>Mecánico</p>
  </div>

  <div class="role-card" (click)="goToRegister('electricista')">
    <img src="assets/icons/electricista.png" alt="Electricista de auto" />
    <p>Electricista de auto</p>
  </div>
</div>
